<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>

<form action="add_message" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="message">Message</label>
  <input type="text" name="message" id="message">
  <button>Add Message</button>
</form>

<% messages.each do |message_hash| %>
  <p class="message"><%= message_hash["name"] %>: <%= message_hash["message"] %></p><br>
<% end %>